html {
    box-sizing: border-box;
    --bgColor: #B5DBC6;
    --altColor: #E1F6EB;
    --blackColor: #2D2D2D;
    font-family: "TTCommons-regular", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: TTCommons-regular;
    src: url(fonts/TTCommons-Regular.ttf);
}
@font-face {
    font-family: TTCommons-demibold;
    src: url(fonts/TTCommons-DemiBold.ttf);
}
@font-face {
    font-family: TTCommons-medium;
    src: url(fonts/TTCommons-Medium.ttf);
}

@keyframes pulsate {
    0% {
        transform: scale(1.1) rotate(-10deg);
    }
    50% {
        transform: scale(1.2) rotate(10deg);
    }
    100% {
        transform: scale(1.1) rotate(-10deg);
    }
}

#logo {
    position: absolute;
    margin: 8px 40px;
}

h1 {
    font-size: 88px;
    align-self: center;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2.12px;
    font-family: "TTCommons-mediun", sans-serif;
}

h2 {
    margin: 0;
    margin-left: 15px;
    font-family: "TTCommons-mediun", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
}

#qrCode {
    
    width: 580px;
    height: 80px;
    border-radius: 20px;
    border: 1.5px solid var(--blackColor);
    margin: 120px 0 100px;
    font-size: 1.3em;
    padding: 23px 23px 23px 71px;
    /* text-align: center; */
    align-self: center;
    background: url(img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: #ffffff;
}

#qrCode:focus {
    outline: none;
}

body {
    margin: 0;
}

.content {
    display: flex;
    justify-content: flex-start;
    min-height: 70vh;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background-color: var(--bgColor);
    padding: 20px;
}

.info {
    color: red;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "TTCommons-medium", sans-serif;
}

.infoContainer {
    align-self: center;
}

.programContainerContainer {
    background-color: var(--altColor);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1.5px solid var(--blackColor);
}

.programContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.stampBox {
    width: 55px;
    height: 60px;
    border: 1px solid rgba(80, 80, 80, 0.226);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.521);
    background: no-repeat center/80% url(img/book.svg);
}

.stampBox:nth-last-child(2) {
    margin-right: 50px;
    background-color: rgba(200, 226, 200, 0.5);
}

.stampBox:nth-last-child(2) svg {
    animation: pulsate 2s linear infinite;
}

.stampBox:nth-last-child(2) span:after {
    content: "Bonus på neste!";
    position: absolute;
    transform: translate(-60px, 35px);
    font-size: 1.1rem;
    font-style: italic;
}

.addStamp {
    height: 50px;
    margin-left: auto;
    border-radius: 40px;
    border: 1.5px solid #9b9b9b;
    background-color: white;
    padding: 10.5px 27px;
    font-weight: 400;
    font-size: 1.125rem;
    cursor: pointer;
}

.addStamp:hover {
    background-color: black;
    color: white;
    border: 1.5px solid black;
}

.usedCoupon {
    background-color: rgba(128, 128, 128, 0.575) !important;
    color: red;
}


.back a{
    color: black;
    text-decoration: none;
    background-color: rgb(226, 129, 116);
    padding: 15px 25px;
    border-radius: 10px;
    position: absolute;
    top: 160px;
    left: 15px;
    font-size: 1.125rem;
}

.back a:hover {
    outline: 2px solid black;
}

svg {
    width: 45px;
}