html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    font-size: 3rem;
    align-self: center;
}

#qrCode {
    
    width: 480px;
    height: 60px;
    border-radius: 25px;
    border: 2px solid rgb(165, 150, 150);
    margin: 250px 0 15px;
    font-size: 1.3em;
    background-color: rgba(139, 130, 130, 0.103);
    padding: 20px;
    text-align: center;
    align-self: center;
}

.content {
    display: flex;
    justify-content: flex-start;
    min-height: 70vh;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.info {
    color: red;
    font-size: 1.05rem;
    font-weight: 500;
}

.programContainer {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.stampBox {
    width: 55px;
    height: 60px;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stampBox:nth-last-child(2) {
    margin-right: 50px;
    background-color: rgba(200, 226, 200, 0.5);
}

.stampBox:nth-last-child(2) svg {
    animation: pulsate 4s linear infinite;
}

.stampBox:nth-last-child(2) svg:after {
    content: "Bonus på neste";
}


.addStamp {
    height: 50px;
    margin-left: auto;
}

.usedCoupon {
    background-color: rgba(128, 128, 128, 0.575) !important;
    color: red;
}


.back a{
    color: black;
    text-decoration: none;
    background-color: rgb(226, 129, 116);
    padding: 15px 25px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.back a:hover {
    outline: 2px solid black;
}

svg {
    width: 45px;
}

